<div class="row" style="padding: 20px; border: 3px solid #ccc">
  <blockquote>
    <footer>Made by: Arabity</footer>
    <h4>Keeping You And Your Family Safe.</h4>
    <h5>Millions of people own cars, and they will inevitably
      need repairs or maintenance at some point in time. This type of company
      gives you great return ccustomers as well as a good rate
      of new customers. A good slogan for you car service business
                                              is a great key to success..</h5>
  </blockquote>
</div>
