<nav class="container navbar navbar-default">

  <div class="row jumbotron text-center" >
    <div class="col-sm-2">
      <img src="/static/arabity.png" class="title-logo img-fluid
                                      img-responsive" height="150" width="150"/>
    </div>
    <div class="col-sm-10">
      <h1>Arabity</h1>
      <h3>Car Service Provider Application</h3>
      <p> Repairing What Your Husband Fixed.</p>
      <p>
        <!--  message flashing -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
          {% for message in messages %}
            <li>
              <strong>{{message}}</strong>
            </li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
      </p>

    </div>
    </div>

<div class="row">
  <div class="col-md-6 btn-group text-center" role="group">
    <button type="button" class="btn btn-secondary pull-left">
      <a href='{{url_for('newProvider')}}'>Create new provider</a>
    </button>

  </div>
  <div class="col-md-3 btn-group text-center" role="group">
    <button type="button" class="btn btn-secondary pull-left">
      <a href='{{url_for('providerName')}}'>Main Page</a>
    </button>

  </div>
  <div class="col-md-3 btn-group text-center" role="group">

{% if provider.items %}
  <h2>Search</h2>
  <p>Click on the button to search with Governorate</p>
  <div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Governorate</button>
    <div id="myDropdown" class="dropdown-content">
      <input type="text" placeholder="Search.." id="myInput"
                                                    onkeyup="filterFunction()">
      {% for i in governorate %}
      <a href="{{url_for('providerFilter', filterGov=i.address, page_num=1)}}">
                  {{i.address}}</a>
      {% endfor %}
    </div>
  </div>
{% else %}
<h2>Search</h2>
<p>Click on the button to search with Governorate</p>
<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Governorate</button>
  <div id="myDropdown" class="dropdown-content">
    <input type="text" placeholder="Search.." id="myInput"
                                                  onkeyup="filterFunction()">
    {% for i in governorate %}
    <a href="{{url_for('providerFilter', filterGov=i.address, page_num=1)}}">
                  {{i.address}}</a>
    {% endfor %}
  </div>
{% endif %}
</div>

  <script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

function filterFunction() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  div = document.getElementById("myDropdown");
  a = div.getElementsByTagName("a");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}
</script>
      <div class="col-md-3 btn-group text-center" role="group">
        <button type="button" class="btn btn-secondary pull-right">
          {% if 'username' not in session %}
          <a  href="{{url_for('showLogin')}}">Click Here to login</a>
          {% else %}
          <a  href="{{url_for('gdisconnect')}}">Disconnect</a>
          {% endif %}
        </button>
      </div>
    </div>

</nav>
